*{
    margin: 0;
    padding: 100;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box; 
    
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(53, 25, 25);
    display:flex ;
    align-items: center;
    justify-content: center;
    background-image: url(https://wallpapers.com/images/featured/dark-gradient-6bly12umg2d4psr2.jpg);
    
}
.calculater{
        box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.3),5px 5px 15px rgba(0, 0, 0, 0.2);

    background: rgb(21, 21, 19);
    padding: 20px;
    border-radius: 10%;
}
.calculater form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 20px;
    color:  rgb(186, 198, 203);
    cursor: pointer;
    margin: 10px;


} 
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;


}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    background-color: rgb(31, 145, 160);

}
form input.div{
    background-color: rgb(31, 145, 160);
}
form input.multi{
    background-color: rgb(31, 145, 160)
}
form input.plus{
    background-color: rgb(31, 145, 160);

}
form input.sub{
    background-color: rgb(31, 145, 160);
}